{
	box-sizing: border-box;
	 }

h1 {
	text-align: center;
}

ul  {
	overflow: hidden;
	list-style-type: none;
}

ul li {
	float:left;
	list-style-type: none;
	margin: 10px;
}

ul li a {
	display: block;
	width: 100px;
	height: 100px;
}

li .red {
	background: red;
}
li .yellow {
	background: yellow;
}
li .blue {
	background: blue;
}
li .orange {
	background: orange;
}
li .green {
	background: green;
}
li .pink {
	background: pink;
}
li .violet {
	background: violet;
}
li .red:hover {
	background: yellow;
}
li .yellow:hover {
	background: blue;
}
li .blue:hover {
	background: orange;
}
li .orange:hover {
	background: green;
}
li .green:hover {
	background: violet;
}
li .violet:hover {
	background:pink;
}
li .pink:hover {
	background: red;
}


/*.text-center {
	text-align: center;
}
.col {
	float: left;
	width:100px;
	height: 100px;
	margin:10px;
}
.row:after {
	content : '';
	display: block;
	clear: both;
}

.red {
	background: red;
}
.yellow {
	background: yellow;
}
.pink {
	background: pink;
}
.orange {
background: orange;
}
.green {
	background: green;
}
.grey {
	background: grey;
}
.blue {
	background: blue;
}*/